# Amostragem

Carregamento dos dados

In [2]:
import pandas as pd
import random 
import numpy as np

In [3]:
dataset = pd.read_csv("./dados/census.csv")

Primeira visualização

In [4]:
dataset.shape

(32561, 15)

In [5]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
dataset.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

Amostragem Aleatória Simples

In [10]:
df_amostra_aleatoria_simples = dataset.sample(n=100, random_state=1)

In [8]:
df_amostra_aleatoria_simples.shape

(100, 15)

In [11]:
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K

In [16]:
def amostragem_aleatoria_simples(dataset, amostras): 
    return dataset.sample(n=amostras,random_state=1)

In [17]:
df_amostra_aleatoria_simples = amostragem_aleatoria_simples(dataset,100)

In [18]:
df_amostra_aleatoria_simples.shape

(100, 15)

In [19]:
df_amostra_aleatoria_simples.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K

Amostragem sistemática

In [20]:
dataset.shape

(32561, 15)

In [22]:
len(dataset)//100

325

In [24]:
random.seed(1)
random.randint(0,325)

68

In [25]:
325+68

393

In [26]:
np.arange(68,len(dataset),step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [34]:
def amostragem_sistematica(dataset,amostras):
    intervalo = len(dataset)//amostras
    random.seed(10)
    inicio = random.randint(0,intervalo)
    indices= np.arange(inicio,len(dataset),step=intervalo)
    amostra_sistematica = dataset.iloc[indices]
    return amostra_sistematica

In [36]:
df_amostra_sistematica = amostragem_sistematica(dataset,100)
df_amostra_sistematica.shape

(100, 15)

In [37]:
df_amostra_sistematica.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
292,29,Local-gov,220419,Bachelors,13,Never-married,Protective-serv,Not-in-family,White,Male,0,0,56,United-States,<=50K
617,50,Self-emp-not-inc,114117,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,32,United-States,<=50K
942,38,Self-emp-inc,196373,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
1267,50,Self-emp-not-inc,343748,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K
1592,20,?,206671,Some-college,10,Never-married,?,Own-child,White,Male,1055,0,50,United-States,<=50K

Amostragem por grupos

In [38]:
len(dataset)/10

3256.1

In [41]:
grupos = []
id_grupo = 0 
contagem = 0
for _ in dataset.iterrows():
    grupos.append(id_grupo)
    contagem+=1
    if contagem > 3256:
        contagem= 0
        id_grupo+=1

In [44]:
np.unique(grupos, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248],
       dtype=int64))

In [46]:
np.shape(grupos),dataset.shape

((32561,), (32561, 15))

In [47]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [48]:
dataset['grupo']=grupos

In [49]:
dataset.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0

In [50]:
dataset.tail()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,9
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,9
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,9
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,9
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,9

In [51]:
random.randint(0,9)

0

In [53]:
df_agrupamento = dataset[dataset['grupo']==0]
df_agrupamento.shape

(3257, 16)

In [54]:
df_agrupamento['grupo'].value_counts()

0    3257
Name: grupo, dtype: int64

In [62]:
def amostragem_agrupamento(dataset,numero_grupos):
    intervalo = len(dataset)/numero_grupos
    
    grupos = []
    id_grupo = 0 
    contagem = 0
    for _ in dataset.iterrows():
        grupos.append(id_grupo)
        contagem+=1
        if contagem > intervalo:
            contagem= 0
            id_grupo+=1
    dataset['grupo'] = grupos
    random.seed(1)
    grupo_selecionado = random.randint(0, numero_grupos)
    return dataset[dataset['grupo']==grupo_selecionado]

In [67]:
df_amostra_agrupamento = amostragem_agrupamento(dataset,325)

In [68]:
df_amostra_agrupamento.shape, df_amostra_agrupamento['grupo'].value_counts()

((101, 16),
 68    101
 Name: grupo, dtype: int64)

In [69]:
df_amostra_agrupamento.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
6868,32,Private,128016,HS-grad,9,Married-spouse-absent,Other-service,Unmarried,White,Female,0,0,20,United-States,<=50K,68
6869,46,Private,360096,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K,68
6870,30,Private,170154,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,0,40,United-States,>50K,68
6871,35,Private,337286,Masters,14,Never-married,Exec-managerial,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K,68
6872,52,Private,204322,Assoc-voc,11,Married-civ-spouse,Tech-support,Husband,White,Male,5013,0,40,United-States,<=50K,68

Amostragem estratificada

In [71]:
#biblioteca para estatrificar 
from sklearn.model_selection import StratifiedShuffleSplit

In [72]:
dataset['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [75]:
7841/len(dataset),24720/len(dataset)

(0.2408095574460244, 0.7591904425539756)

In [80]:
100/len(dataset)

0.0030711587481956942

In [81]:
split = StratifiedShuffleSplit(test_size=0.0030711587481956942)
for x,y in split.split(dataset, dataset['income']):
    df_x = dataset.iloc[x]
    df_y = dataset.iloc [y]

In [82]:
df_x.shape, df_y.shape

((32461, 16), (100, 16))

In [83]:
df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64

In [90]:
def amostragem_estratificada(dataset,percentual): 
    split = StratifiedShuffleSplit(test_size=percentual,random_state=1)
    for _,y in split.split(dataset, dataset['income']):
        df_y = dataset.iloc [y]
    return df_y

In [91]:
df_amostra_estratificada = amostragem_estratificada(dataset,0.0030711587481956942)
df_amostra_estratificada.shape

(100, 16)

Amostragem de reservatório

In [84]:
stream = []
for i in range(len(dataset)):
    stream.append(i)

In [ ]:
print(stream)

In [86]:
def amostragem_reservatorio(dataset,amostras):
    stream = []
    for i in range(len(dataset)):
        stream.append(i)
    i=0
    tamanho = len(dataset)
    reservatorio = [0] * amostras
    for i in range(amostras):
        reservatorio[i] = stream[i]

    while i <tamanho: 
        j = random.randrange(i+1)
        if j < amostras: 
            reservatorio[j] = stream[i]
        i+=1
    return dataset.iloc[reservatorio]

In [87]:
df_amostragem_reservatorio = amostragem_reservatorio(dataset,100)
df_amostragem_reservatorio.shape

(100, 16)

In [88]:
df_amostragem_reservatorio.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
29608,41,Self-emp-inc,114580,Prof-school,15,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,2415,55,United-States,>50K,293
21696,37,Federal-gov,329088,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,40,United-States,<=50K,214
30676,42,Private,355728,Assoc-voc,11,Never-married,Craft-repair,Not-in-family,White,Male,0,0,44,United-States,<=50K,303
28550,43,Private,110970,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K,282
8768,52,Federal-gov,221532,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,45,United-States,>50K,86

Comparativo dos Resultados

In [92]:
dataset['age'].mean()

38.58164675532078

In [95]:
df_amostra_aleatoria_simples['age'].mean()

39.41

In [96]:
df_amostra_sistematica['age'].mean()

40.99

In [97]:
df_amostra_agrupamento['age'].mean()

40.06930693069307

In [98]:
df_amostra_estratificada['age'].mean()

36.9

In [99]:
df_amostragem_reservatorio['age'].mean() #menor diferença nesse caso

37.85